body{
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 
        "wdth"100;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
}
header{
    background-color: black;
}
nav{
    padding: 20px;
}
nav li:hover{
    background-color:gray;
}
nav a{
    color: white;
    text-decoration: none;
}
main{
    padding: 0px 150px;
}
p{
    text-align: justify;
}
.p2{
    border: 2px rgb(215, 253, 0) solid;
    padding: 50px;
    border-radius: 10px;
    background-color: bisque;
    word-spacing: 7px;
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.Wm5kw8OQgP9-iXVl0Fx5zwHaE8?rs=1&pid=ImgDetMain&o=7&rm=3"), url("https://i1.sndcdn.com/artworks-QeXHijGInbcBkZyq-O2odCQ-t500x500.jpg"), url("https://tse1.mm.bing.net/th/id/OIP.9s8n2l7mXo3a5j6e7v0c9gHaE8?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top center, top left, top right;
}
nav li a:hover{
    color:lightblue;
}